@use "../global" as global;
@use "sass:math";

.l-works {
  background: var(--beige);
  border-radius: 30px;

  @include global.mq(lg) {
    border-radius: 60px;
  }
}

.l-works__inner {
}

.l-works__title {
}

.l-works__body {
  @include global.mq(lg) {
    max-width: 980px;
    margin-inline: auto;
  }
}

.l-works__projects {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  padding-top: 32px;

  @include global.mq(md) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: stretch;
    column-gap: 5rem;
    row-gap: 3rem;
    padding-top: 64px;
  }
}

.l-works__button {
  margin-top: 3rem;
  margin-left: auto;
}
