@use "../global" as global;
@use "sass:map";

.l-header {
	overflow: hidden;
	padding-block: 20px;
	position: fixed;
	width: 100%;
	z-index: map.get(global.$layer, header);
	transition: background-color 0.5s;
}

.l-header.bgWhite {
	background-color: rgba(var(--white-rgb), 0.95);
	border-bottom: 1px solid var(--beige);
}

.l-header__inner {
	display: flex;
	justify-content: space-between;

	@include global.mq(lg) {
		align-items: center;
	}
}

.l-header__logo {
	width: 200px;
	flex-shrink: 0;

	@include global.mq(lg) {
		width: 237px;
	}
}

.l-header__nav {
	transform: translateX(100vw);
	transition: transform 500ms 50ms, background 500ms 50ms;
	position: fixed;
	inset-inline: 0;
	margin-inline: auto;
	width: 100vw;
	height: 100vh;

	@include global.mq(lg) {
		position: relative;
		transform: translateX(0);
		width: auto;
		height: auto;
		margin: 0;
	}
}

.l-header__nav.is-open {
	transform: translateX(0);
	background: rgba(var(--white-rgb), 0.95);
	top: 0;
	left: 0;
	z-index: map.get(global.$layer, floating);
}

.l-header__drawerButton {
	flex-shrink: 0;
	position: relative;
	z-index: map.get(global.$layer, drawer);

	@include global.mq(lg) {
		display: none;
	}
}
